In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

red = pd.read_csv("winequality-red.csv")

In [2]:
X = red.iloc[:,:-1]
y = red.iloc[:,[-1]]
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [3]:
y.head()

   quality
0        5
1        5
2        5
3        6
4        5

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [5]:
X_train[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
493,8.7,0.690,0.31,3.0,0.086,23.0,81.0,1.00020,3.48,0.74,11.6
354,6.1,0.210,0.40,1.4,0.066,40.5,165.0,0.99120,3.25,0.59,11.9
342,10.9,0.390,0.47,1.8,0.118,6.0,14.0,0.99820,3.30,0.75,9.8
834,8.8,0.685,0.26,1.6,0.088,16.0,23.0,0.99694,3.32,0.47,9.4
705,8.4,1.035,0.15,6.0,0.073,11.0,54.0,0.99900,3.37,0.49,9.9

In [6]:
print('X_train 크기 :', X_train.shape)
print('X_test 크기 :', X_test.shape)

X_train 크기 : (1279, 11)
X_test 크기 : (320, 11)

In [7]:
print('y_train 크기 :', y_train.shape)
print('y_test 크기 :', y_test.shape)

y_train 크기 : (1279, 1)
y_test 크기 : (320, 1)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train, y_train)

pre = knn.predict(X_test) 
print(f'테스트 세트의 정확도 : {knn.score(X_test, y_test):.2f}')

테스트 세트의 정확도 : 0.51

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

### 스케일러

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train_scaled, y_train)

pre = knn.predict(X_test_scaled) 
print(f'테스트 세트의 정확도 : {knn.score(X_test_scaled, y_test):.2f}')
print(f'pre :\n{pre}')

테스트 세트의 정확도 : 0.62
pre :
[5 5 6 5 6 5 5 5 7 6 7 6 6 5 5 7 5 7 6 5 5 6 5 6 7 6 6 6 5 6 5 5 6 6 6 5 6
 6 6 6 5 5 6 5 6 6 7 5 5 6 5 5 6 7 5 6 6 6 6 5 5 6 6 5 7 6 6 5 5 6 6 3 6 6
 6 5 7 5 5 6 5 6 5 6 6 6 5 6 7 6 6 5 5 5 5 5 5 6 7 5 5 5 6 7 6 7 6 5 6 5 7
 5 7 5 5 6 5 6 5 6 7 6 5 6 6 6 6 6 5 5 6 6 5 6 6 4 5 6 5 6 7 6 7 6 6 5 5 6
 5 5 6 6 6 5 6 5 5 5 5 6 5 5 6 5 5 6 6 5 5 5 5 5 7 6 7 5 6 5 6 5 4 5 6 6 5
 6 6 6 7 6 6 6 5 7 6 5 5 6 5 7 5 5 6 5 6 6 5 6 6 7 8 5 5 6 7 7 6 5 7 5 6 6
 6 6 6 3 6 7 6 6 7 4 7 5 5 7 5 6 6 5 6 5 6 7 6 7 4 6 7 5 6 6 5 6 3 5 5 7 6
 6 7 4 5 7 6 5 5 5 6 6 5 6 5 6 6 5 6 6 6 6 7 6 5 6 5 7 5 6 6 6 6 6 8 5 5 6
 5 7 7 7 5 5 7 5 6 5 6 6 6 7 6 4 6 5 6 6 5 5 6 6]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [10]:
X_train[:3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
493,8.7,0.69,0.31,3.0,0.086,23.0,81.0,1.0002,3.48,0.74,11.6
354,6.1,0.21,0.40,1.4,0.066,40.5,165.0,0.9912,3.25,0.59,11.9
342,10.9,0.39,0.47,1.8,0.118,6.0,14.0,0.9982,3.30,0.75,9.8

In [11]:
from sklearn.preprocessing import RobustScaler

robust_scaler = RobustScaler().fit(X_train)
X_train_scaled = robust_scaler.transform(X_train)
X_test_scaled = robust_scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train_scaled, y_train)

pre = knn.predict(X_test_scaled) 
print(f'테스트 세트의 정확도 : {knn.score(X_test_scaled, y_test):.2f}')

테스트 세트의 정확도 : 0.62

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [12]:
from sklearn.preprocessing import MinMaxScaler

minmax_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = minmax_scaler.transform(X_train)
X_test_scaled = minmax_scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train_scaled, y_train)

pre = knn.predict(X_test_scaled) 
print(f'테스트 세트의 정확도 : {knn.score(X_test_scaled, y_test):.2f}')

테스트 세트의 정확도 : 0.62

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [13]:
from sklearn.preprocessing import MaxAbsScaler

maxabs_scaler = MaxAbsScaler().fit(X_train)
X_train_scaled = maxabs_scaler.transform(X_train)
X_test_scaled = maxabs_scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train_scaled, y_train)

pre = knn.predict(X_test_scaled) 
print(f'테스트 세트의 정확도 : {knn.score(X_test_scaled, y_test):.2f}')

테스트 세트의 정확도 : 0.60

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [47]:
from sklearn.preprocessing import Normalizer

normal_scaler = Normalizer().fit(X_train)
X_train_scaled = normal_scaler.transform(X_train)
X_test_scaled = normal_scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train_scaled, y_train)

pre = knn.predict(X_test_scaled) 
print(f'테스트 세트의 정확도 : {knn.score(X_test_scaled, y_test):.2f}')

테스트 세트의 정확도 : 0.60

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

**비슷한 결과값이므로 standard 사용**

In [64]:
X = red.iloc[:,:-1]
y = red.iloc[:,[-1]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train, y_train)

pre = knn.predict(X_test) 
print(f'테스트 세트의 정확도 : {knn.score(X_test, y_test):.2f}')
print(f'pre :\n{pre}')

테스트 세트의 정확도 : 0.62
pre :
[5 5 6 5 6 5 5 5 7 6 7 6 6 5 5 7 5 7 6 5 5 6 5 6 7 6 6 6 5 6 5 5 6 6 6 5 6
 6 6 6 5 5 6 5 6 6 7 5 5 6 5 5 6 7 5 6 6 6 6 5 5 6 6 5 7 6 6 5 5 6 6 3 6 6
 6 5 7 5 5 6 5 6 5 6 6 6 5 6 7 6 6 5 5 5 5 5 5 6 7 5 5 5 6 7 6 7 6 5 6 5 7
 5 7 5 5 6 5 6 5 6 7 6 5 6 6 6 6 6 5 5 6 6 5 6 6 4 5 6 5 6 7 6 7 6 6 5 5 6
 5 5 6 6 6 5 6 5 5 5 5 6 5 5 6 5 5 6 6 5 5 5 5 5 7 6 7 5 6 5 6 5 4 5 6 6 5
 6 6 6 7 6 6 6 5 7 6 5 5 6 5 7 5 5 6 5 6 6 5 6 6 7 8 5 5 6 7 7 6 5 7 5 6 6
 6 6 6 3 6 7 6 6 7 4 7 5 5 7 5 6 6 5 6 5 6 7 6 7 4 6 7 5 6 6 5 6 3 5 5 7 6
 6 7 4 5 7 6 5 5 5 6 6 5 6 5 6 6 5 6 6 6 6 7 6 5 6 5 7 5 6 6 6 6 6 8 5 5 6
 5 7 7 7 5 5 7 5 6 5 6 6 6 7 6 4 6 5 6 6 5 5 6 6]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if sys.path[0] == '':

In [65]:
import eli5
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(knn, random_state=42).fit(X_test,
                                                       y_test)
eli5.show_weights(perm, feature_names = X.columns.tolist())

In [70]:
tmp = eli5.explain_weights_df(perm)
important_cols = tmp[tmp['weight']>0.01]['feature'].map(lambda x: 
                                                        int(x.replace('x', '')
                                                           )).values
important_cols = red.columns[important_cols].values

**eli5 => 매번 달라짐 주의**

In [71]:
X = red[important_cols]
y = red['quality']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train, y_train)

pre = knn.predict(X_test) 
print(f'테스트 세트의 정확도 : {knn.score(X_test, y_test):.2f}')
print(f'pre :\n{pre}')

테스트 세트의 정확도 : 0.63
pre :
[5 5 6 5 6 5 5 5 7 6 7 6 6 5 5 7 5 7 6 5 5 6 5 6 7 6 6 6 5 6 5 5 6 6 6 5 6
 6 6 6 5 5 6 5 6 6 7 5 5 6 5 5 6 7 5 6 6 6 6 5 5 6 6 5 6 6 7 5 7 6 6 5 6 6
 6 5 7 5 5 6 5 6 5 6 6 6 5 6 7 6 6 5 5 5 5 5 5 6 4 5 5 5 6 7 6 7 6 5 6 5 7
 5 7 5 5 6 5 6 5 6 7 6 5 6 6 6 6 6 5 5 6 6 5 6 6 4 5 6 5 6 7 6 7 4 6 5 5 6
 5 5 6 6 6 5 6 5 5 5 5 6 5 5 6 5 5 6 6 5 5 5 5 5 7 6 7 5 6 5 6 5 4 5 6 6 5
 7 6 6 7 6 6 6 5 7 5 5 5 6 5 7 5 5 6 5 7 6 5 6 6 7 8 5 5 6 7 4 6 5 7 5 6 6
 6 6 6 3 6 6 6 6 7 4 6 5 5 7 5 6 6 5 6 5 5 7 5 7 5 6 6 5 6 6 5 6 3 5 5 7 5
 6 7 4 5 6 6 5 6 5 6 6 5 6 5 6 6 5 6 6 6 6 7 5 5 6 5 7 5 6 6 6 6 6 8 5 5 6
 5 7 7 7 5 5 7 5 6 5 6 6 6 7 6 4 6 5 6 6 5 5 6 6]